/* Adjusted Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    width: 50%;
    /* Adjust width as needed */
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

/* Adjust Metric Card */
.metric-card {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    /* Adjust width as needed */
}

.metric-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.metric-count {
    color: #032E1C;
    font-size: 1.5em;
}

/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
    margin-top: -5em;
}

/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2,
footer.css-ipbk5a.egzxvld4,
footer.css-12gp8ed.eknhn3m4 {
    display: none;
}

div.vg-tooltip-element {
    display: none;
}

/* Adjust form element containers */
.element-container {
    width: 100%;
    /* Adjust width as needed */
    margin-bottom: 10px;
}

div.css-1xw8zd0 {
    /* width: 1000px; */
    border: transparent;
   
}
div.css-1wmy9hl{
    width: 500px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    margin: 0 auto; /* Centers the element horizontally */
}

div.css-1kyxreq{

        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        margin: 0 auto; /* Centers the element within its container */
    }
div.css-1cunkzb {
/*     border: transparent; */
    width: 600px;
/*     height: auto; */
/*     position: relative; */
/*     display: flex; */
/*     flex-direction: column; */
/*     gap: 1rem; */
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    margin: 0 auto; /* Centers the element horizontally */
}
  div.css-1bok14q{
/*     border: transparent; */
    width: 600px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    margin: 0 auto; /* Centers the element horizontally */
}
div.css-1th2vhe{
    display: none;
}

/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #45a049;
  }
div.css-1xy3pbc {
    display: none;
}
